@charset "utf-8";

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

body {
    background-color: #FFFAE5;
    font-family: 'MonoplexKR-Regular';
    min-width: 1320px;
}

/* 헤더 */
header {
    margin: 20px auto;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
}

header ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
    filter: drop-shadow(1px 1px 0px #fff) drop-shadow(-1px -1px 0px #fff) drop-shadow(-1px 1px 0px #fff) drop-shadow(1px -1px 0px #fff);
}

header ul a {
    color: #2A925C;
    font-size: 25px;
    font-weight: 900;

}

header ul a:hover {
    color: #FF5C1E;
}

.ml {
    width: 100px;
    height: 80px;
}

.header_text {
    background: url(../images/communityb.png) no-repeat 50% 0;
    overflow: hidden;
    padding-bottom: 100px;
}

.box {
    position: relative;
    width: 1320px;
    height: 941px;
    margin: auto;
}

h1 {
    font-size: 167px;
    line-height: 170px;
    color: #FF5C1E;
    text-shadow: -3px 0px #000, 0px 3px #000, 3px 0px #000, 0px -3px #000;
    position: absolute;
    bottom: 10%;
}

h1>span {
    font-size: 150px;
}

.ct {
    width: 400px;
    height: 220px;
    position: absolute;
    right: 1%;
    top: 21%;
    animation: ani1 2s linear alternate infinite;
}

@keyframes ani1 {
    0% {
        transform: scale(1, 1);
    }

    50% {
        transform: scale(1.1, 1.1);
    }

    100% {
        transform: scale(1, 1);
    }
}

.p1 {
    position: absolute;
    bottom: -11%;
    left: -23%;
    overflow: hidden;
}

/* 콘텐츠 */
.content {
    margin: 180px auto;
    width: 1320px;
}

.content>ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.content>ul>li {
    margin-bottom: 100px;
    border: 4px solid #FF5C1E;
    border-radius: 10px;
    width: 421px;
    height: 607px;
    background-color: #fff;
    overflow: hidden;
}

.box1>img {
    border-bottom: 4px solid #FF5C1E;
    width: 421px;
    height: 267px;
}

.box2 {
    color: #000;
    border-bottom: 4px solid #FF5C1E;
    height: 267px;
}

h2 {
    padding: 25px 0 0 15px;
    font-size: 19px;
}

h3 {
    padding: 15px 0 0 15px;
    font-size: 17px;
    font-weight: 500;
}

h4 {
    padding: 35px 0 35px 15px;
    font-size: 15px;
    font-weight: 500;
}

h5 {
    font-size: 10px;
    font-weight: 500;
    background-color: #2A925C;
    height: 44px;
    width: 51px;
    text-align: center;
    align-content: center;
    margin: 0 0 0 15px;
}

.box3 {
    display: flex;
    justify-content: space-between;
}

.box3-1 {
    border-right: solid 4px #FF5C1E;
}

.box3-1>p {
    width: 324px;
    align-content: center;
}

.box3-1>p>a {
    display: block;
    padding: 20px 0 20px 10px;
    color: #FF5C1E;
}

.box3-1>p>a img {
    height: 10px;
    width: 10px;
    padding-left: 10px;
}

.box3-1:hover {
    background-color: #2A925C;
    font-weight: bold;
}

.box3-1>p>a:hover img {
    animation: ani2 0.2s linear alternate forwards;
}


@keyframes ani2 {
    0% {
        transform: translate(0, 0);
        transform: scale(0);
    }

    100% {
        transform: translate(5px, -5px);
        transform: scale(1.4, 1.4);
    }
}


.box3-2 {
    height: 62px;
    width: 94px;
    text-align: center;
    align-content: center;
}

.box3-2>a>img {
    height: 25px;
    width: 25px;
}

.box3-2:hover img {
    filter: hue-rotate(80deg) brightness(0.8);
}


.c_size {
    font-size: 8px;
}


/* footer */

footer {
    background-color: #FF5C1E;
    height: 450px;
    background: url(../images/footerb.png) no-repeat 50% 0 /3000px;
    overflow: hidden;
    margin-top: 250px;
}

.footer_flex {
    width: 1320px;
    margin: auto;
    position: relative;
}

.footer_l {
    padding: 110px 0 0 0;
}

.footer_flex>img {
    margin-top: 30px;
    animation: ani1 5s linear infinite;
    height: 400px;
    width: 400px;
}


.footer_l>p {
    color: #fff;
    padding-top: 50px;
}

h3 {
    font-family: 'Steamed-DEMO-Regular';
}

.follow {
    width: 175px;
    display: flex;
    justify-content: space-around;
    padding-top: 100px;
    align-items: center;
}

.follow>p {
    color: #fff;
    font-weight: 700;
    padding-right: 10px;
}



.co {
    color: #fff;
    font-weight: 700;
    position: absolute;
    left: 600px;
    top: 390px;
}